.header
{
	color: gray;
	font-size: medium;
	display: flex;
}

.container
{
	display: flex;
	width: 100vw;
	max-width: 100vw;
	overflow: hidden;
	height: 5vh;
	padding: 5px;
	flex-direction: row;
	align-items: space-between;
	justify-content: space-between;
}

.logo-img
{
	display: flex;
}

.logo
{
	display: flex;
	flex-direction: row;
	text-decoration: none;
	font-weight: bold;
	justify-content: center;
}

.logo-text
{
	margin-left: 3px;
	font-size: xx-large;
}

.navbar
{
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.links
{
	margin-right: 25px;
	text-decoration: none;
	color: gray;
}

.button
{
	display: inline-flex;
	align-items: center;
	background-color: gray;
	border: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 10px;
}